@import "../../styles/variables.scss";

.wrapper {
  display: flex;
  font-family: $nunito-font-family;
  background-color: #f8f8f8;
  min-width: 100%;

  .content__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
