.header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #dee0e5;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  width: 100%;

  .header__title {
    font-weight: 700;
    font-size: 24px;
    color: #111112;
    text-transform: capitalize;
  }

  .header__image {
    cursor: pointer;
  }
}
