@import "../variables.scss";

.reset__page--container {
  .subtitle {
    text-align: center;
  }
}

.subtitle {
  font-size: 19px;
  line-height: 32px;
  text-align: left;
  color: $color-gray;
  margin-bottom: 32px;
}

.cancel__button {
  margin-top: 24px;
  color: #2c343a;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    color: $color-purple;
  }
}
