@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap");

$lexend-font-family: "Lexend", sans-serif;
$nunito-font-family: "Nunito", sans-serif;
$color-purple: #7101ff;
$color-white: #ffffff;
$color-gray: #505e68;
