@import "../../styles/variables.scss";

.wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;

  @media (max-width: 1536px) {
    padding: 94px 0 45px;
  }

  .nav {
    position: fixed;
    top: 10px;

    .nav__links {
      display: flex;
      gap: 32px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      a:hover {
        color: $color-purple;
      }
    }
  }

  .form__container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 376px;
  }
}
