.wrapper {
  background-color: #ffffff;
  padding: 0 532px;
  min-height: 100vh;

  .form__container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 186px;

    .logo {
      margin-bottom: 44px;
    }
  }
}
