.content__grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  grid-gap: 10px;
  margin: 17px 12px;
}

.content__column--name {
  font-weight: 600;
  font-size: 16px;
  color: #9f9fb6;
  text-transform: capitalize;
}

.content__rows--wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
